change: 
{% extends parameters.print ? "printbase" : "base" %}
to:
{% extends "base" %}

-------------------

<!-- Add to html where the customer wants the brand to show (minified version) -->
<script>function allBrands(){var n=document.querySelectorAll("span.BrandID");for(let t=0,o=n.length;t<o;t++){id=n[t].innerHTML,console.log(id+domain+RAD);var e=new Request(`https://${domain}/API/Account/${RAD}/Manufacturer/${id}.json`,{method:"GET",credentials:"same-origin"});fetch(e).then(n=>n.json()).then(n=>{let e=n.Manufacturer.name;document.getElementsByClassName("BrandName")[t].innerHTML=e})}setTimeout(()=>{console.log("this is a timer message"),window.print()},1e3)}const domain=window.location.host,RAD=window.location.pathname.match(/\d+/);document.addEventListener("DOMContentLoaded",allBrands);</script>
<span class="BrandID" style="display:none;">{{ Label.Item.manufacturerID }}{{ Line.Item.manufacturerID }}</span><span class="BrandName" style="margin:0; /*display:inline;*/"></span>
